<div class="container1">
  <div class="container2">
    <div class="heading">
      <h2 style="color: rgb(214, 179, 63)">NEW VOYAGE PLAN</h2>
      <div class="importButton">
        <!-- <button class="btnColor">Import Voyage Plan</button> -->
      </div>
    </div>
  </div>

  <div class="container2">
    <mat-accordion class="example-headers-align disabled">
      <mat-expansion-panel class="color" *ngFor="let item of [1]; first as isFirst" [expanded]="isFirst">
        <mat-expansion-panel-header class="color2">
          <mat-panel-title class="colorText"> VOYAGE DETAILS </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="EditVoyageForm">
          <div class="display">
            <div>
              <div class="inputLine">
                <div class="label">
                  <label>START PORT NAME</label
                  ><span style="color: red">*</span>
                </div>
                <div >
                  <select formControlName="startport_id" style="min-width:150px;height: 25px; outline: none;" >
                    <option value="">Select Port</option>
                    <option
                      *ngFor="let start of StartPort"
                      value="{{ start.id }}"
                    >
                      {{ start.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="inputLine">
                <div class="label">
                  <label>COSP Lat</label> <span style="color: red">*</span>
                </div>
                <div >
                  <input  type="text"  class="input"  formControlName="cosp_lat"  style="width: 100%"/>
                
              
              <div class="errors" *ngIf="EditVoyageForm.controls['cosp_lat'].errors?.['required'] && EditVoyageForm.controls['cosp_lat'].touched">
                This Field is required
              </div>
            </div>
            </div>

              <div class="inputLine">
                  <div class="label">
                    <label>EOSP Lat</label> <span style="color: red">*</span>
                  </div>
                  <div>
                    <input  type="text"  class="input"  formControlName="eosp_lat"/>
               
              
              <div class="errors" *ngIf="EditVoyageForm.controls['eosp_lat'].errors?.['required'] && EditVoyageForm.controls['eosp_lat'].touched">
                This Field is required
              </div>
              <!-- <span *ngIf="submitted && EditVoyageForm.controls.eosp_lat.errors?.required"></span> -->
            </div>
          </div>
            </div>
            <div>
              <div class=" inputLine">
                <div class="label">
                  <label>DESTINATION PORT NAME</label
                  ><span style="color: red">*</span>
                </div>
                <div >
                  <select  formControlName="destinationport_id" style="min-width:150px;height: 25px;outline: none;">
                    <option value="">Select Port</option>
                    <option
                      *ngFor="let end of DestinationPort"
                      value="{{ end.id }}"
                    >
                      {{ end.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="inputLine">
                <div class="label">
                  <label>COSP Lon</label> <span style="color: red">*</span>
                </div>
                <div >
                  <input
                    type="text"
                    class="input"
                    formControlName="cosp_long">
                
              
              <div class="errors" *ngIf="EditVoyageForm.controls['cosp_long'].errors?.['required'] && EditVoyageForm.controls['cosp_long'].touched">
                This Field is required
              </div>
            </div>
            </div>

              <div class="inputLine">
                <div class="label">
                  <label>EOSP Lon</label> <span style="color: red">*</span>
                </div>
                <div >
                  <input
                    type="text"
                    class="input"
                    formControlName="eosp_long"
                  >
                
             
              <div class="errors" *ngIf="EditVoyageForm.controls['eosp_long'].errors?.['required'] && EditVoyageForm.controls['eosp_long'].touched">This Field is required</div>
            </div>
          </div>
            </div>
          </div>
          <div style="display: none">
            <input type="reset" id="primaryButton"
            />
          </div>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel class="color">
        <mat-expansion-panel-header class="color2">
          <mat-panel-title class="colorText"> WAYPOINTS </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="EditVoyageForm">
          <div class="display">
            <div>
              <div class="inputLine">
                <div class="label">
                  <label>COSP TIME</label> <span style="color: red">*</span>
                </div>
                <div >
                  <input
                    class="input"
                    type="datetime-local"
                    formControlName="cosp_time"
                  >
                </div>
              </div>
              <div class="inputLine">
                <div class="label">
                  <label>EARLIEST ETA</label> <span style="color: red">*</span>
                </div>
                <div >
                  <input
                    class="input"
                    type="datetime-local"
                    formControlName="earliest_eta"
                  />
                </div>
              </div>
            </div>
            <div>
              <div class="inputLine">
                <div class="label">
                  <label>DISPALCEMENT</label> <span style="color: red">*</span>
                </div>
                <div >
                  <input
                    type="text"
                    class="input"
                    formControlName="displacement"
                  />
                </div>
              </div>

              <div class="inputLine">
                <div class="label">
                  <label>JUST ETA</label> <span style="color: red">*</span>
                </div>
                <div >
                  <input
                    type="datetime-local"
                    class="input"
                    formControlName="just_eta"
                  />
                </div>
                
              </div>
            </div>
          </div>
          <div style="display: none">
            <input type="reset" id="primaryButton" />
          </div>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel class="color">
        <mat-expansion-panel-header  class="color2" >
          <mat-panel-title class="colorText">
           ADDITIONAL VOYAGE CRITERIA
          </mat-panel-title>      
        </mat-expansion-panel-header>

        <form [formGroup]="EditVoyageForm">
     <div class="display">
         <div>     
            <div class="inputLine">
                  <div class="label"><label>Fuel Density</label></div>
                  <div > <input  class="input" type="text" formControlName="cosp_time"> </div>
          </div>
      </div>

      <div >   
        <div class="inputLine">
          <div class="label">  <label>Lower Calorific Value</label></div>
          <div > <input type="text" class="input" formControlName="displacement"></div>
        </div>
     </div>
    
      </div>
     <div style="display:none"> <input type="reset" id="primaryButton"  /></div>
      </form>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="buttons">
      <button mat-dialog-close class="btnC">Cancel</button>
      <button class="btn"  (click)="save()" >Save</button>
    </div>
  </div>
</div>
