<div class="container1">
      <div >
          <app-admin-header></app-admin-header>
      </div>
      <h2 style="color:rgb(214, 179, 63); padding-left: 10px;">USER REGISTRATION</h2>
      <div class="login">
       
        <form [formGroup]="signup" (ngSubmit)="check()" autocomplete="off">
          <!-- <img style="height:50px;" src="../../assets/MicrosoftTeams-image.png"><br> --> 
          <div class="three">
           <div> 
            <div class="inputLine">
              <div style="display:flex;">
              <label class="label">Username</label></div><div>
              <input appFirstCap formControlName="username" class="input" type="text" id="username"   placeholder="Username" (keyup)="CheckId($event)"/>
              <div class="errors" *ngIf="signup.controls['username'].errors?.['required'] && signup.controls['username'].touched">Username is required</div>
              <div class="errors" *ngIf="signup.controls['username'].errors?.['minlength'] && signup.controls['username'].touched">User ID should have minimum length</div>
              <div  class="errors" *ngIf="status==false">{{UsernameCheckmsg}}</div> 
              </div>
            </div>
            <div class="inputLine">
              <div style="display:flex;">
              <label  class="label">First Name </label></div><div>
               <input appFirstCap formControlName="first_name" class="input" type="text" id="first_name" placeholder="First Name"/>
               <div class="errors" *ngIf="signup.controls['first_name'].errors?.['required'] && signup.controls['first_name'].touched">
                First name is required
                </div>
                <div class="errors" *ngIf="signup.controls['first_name'].errors?.['minlength'] && signup.controls['first_name'].touched">First name should have minimum length</div>
                <div class="errors" *ngIf="signup.controls['first_name'].errors?.['pattern'] && signup.controls['first_name'].touched">First name cannot have numbers</div>
               </div>
            </div>

            <div class="inputLine">
              <div style="display:flex;">
              <label  class="label">Last Name</label></div><div>
              <input appFirstCap formControlName="last_name" class="input" type="text" id="last_name" placeholder="Last Name"/>
              <div class="errors" *ngIf="signup.controls['last_name'].errors?.['required'] && signup.controls['last_name'].touched">
                Last name is required
                </div>
                <div class="errors" *ngIf="signup.controls['last_name'].errors?.['minlength'] && signup.controls['last_name'].touched">Last name should have minimum length</div>
                <div class="errors" *ngIf="signup.controls['last_name'].errors?.['pattern'] && signup.controls['last_name'].touched">Last name cannot have numbers</div>
              </div> 
            </div>
            <div class="radio" >
              <label style="width:150px;height: 21px;border:1px solid white;border-radius: 4px;padding-left: 5px;color:rgb(182, 178, 178); padding-top: 3px;">Role </label>  
              <div style="display:flex;gap:20px;">
                
              <input type="radio" value="admin" id="Admin" formControlName="role" style="cursor: pointer;"> 
              <label for="Admin">Admin</label>
              <input type="radio" style="cursor: pointer" value="user" id="user" formControlName="role">
              <label for="user">User</label>
              </div>
              <div class="errors" *ngIf="signup.controls['role'].errors?.['required'] && signup.controls['role'].touched ">
              Please assign a role
              </div>
            </div> 
            </div>
            <div>
            <div class="inputLine">
              <div style="display:flex;">
              <label  class="label">Email</label></div><div>
              <input formControlName="email" class="input" type="email" id="email" placeholder="Email" (keyup)="CheckEmail()"/>
              <div class="errors" *ngIf="signup.controls['email'].errors?.['required'] && signup.controls['email'].touched">
                Email is required
                </div>
                <div class="errors" *ngIf="signup.controls['email'].errors?.['email'] && signup.controls['email'].touched">Enter valid email</div>
                <div *ngIf="status==false" class="errors" >{{EmailCheckmsg}}</div></div>
                
            </div>
           
            <div class="inputLine">
              <div style="display:flex;">
              <label  class="label">Contact Number</label></div><div>
              <input formControlName="contact_number" class="input" type="number" id="contact_number" placeholder="Contact Number"/><div class="errors" *ngIf="signup.controls['contact_number'].errors?.['required'] && signup.controls['contact_number'].touched">
                Phone number is required
                </div>
                <div class="errors" *ngIf="signup.controls['contact_number'].errors?.['minlength'] && signup.controls['contact_number'].errors?.['maxlength']">Phone number should have minimum length</div>
                <div class="errors" *ngIf="signup.controls['contact_number'].errors?.['pattern'] && signup.controls['contact_number'].touched">
                  Please enter valid number
                  </div>
                </div>
            </div>
            <div class="inputLine">
              <div style="display:flex;">
              <label  class="label">Password</label></div><div>
              <input formControlName="password" class="input" type="password" id="password" placeholder="Password"/>
              <div class="errors" *ngIf="signup.controls['password'].errors?.['required'] && signup.controls['password'].touched">
                Password is required
                </div>
                <div class="errors" *ngIf="">Incorrect password</div>
            </div>
            </div>
            <div style="display: flex;justify-content: end;"><button  type="submit" [disabled]="signup.invalid" class=" btn" >Sign Up</button></div>
             
              </div> 
              
              </div>  
           
        </form>
    </div>
</div>
