<div class="container1">
    <div class="container2">
        <form>
            <div class="subCont1">
            <div class="subCont2"> 
                <div  class="name" ><label>Start Port Name</label> <span style="color:red;">*</span></div>
                <div class="move1">
                    <input class="" type="text" /><br>
                    <input type="checkbox" placeholder="At Sea" />At Sea
                </div> 
            </div>&nbsp;&nbsp;
            <div class="subCont2">
                <div  class="move2"><label>Destination Port Name </label><span style="color:red;">*</span></div>
                <div>
                    <input class="" type="text" /><br>
                    <input type="checkbox" placeholder="At Sea" />At Sea
                </div>
            </div>
           </div>
           <div class="subCont1">
            <div class="subCont2"> 
                <div  class="name" ><label>COSP Lat</label> <span style="color:red;">*</span></div>
                <div class="move1">
                    <input class="" type="text" /><br>
                    
                </div> 
            </div>&nbsp;&nbsp;
            <div class="subCont2">
                <div  class="move2"><label>EOSP Lat </label><span style="color:red;">*</span></div>
                <div>
                    <input class="" type="text" /><br>
                    
                </div>
            </div>
           </div>
           <div class="subCont1">
            <div class="subCont2"> 
                <div  class="name" ><label>COSP Long</label> <span style="color:red;">*</span></div>
                <div class="move1">
                    <input class="" type="text" /><br>
                </div> 
            </div>&nbsp;&nbsp;
            <div class="subCont2">
                <div  class="move2"><label>EOSP Long</label><span style="color:red;">*</span></div>
                <div>
                    <input class="" type="text" /><br>
                    
                </div>
            </div>
           </div>
           <div class="subCont1">
            <div class="subCont2"> 
                <div  class="name" ><label>COSP TIME in UTC</label> <span style="color:red;">*</span></div>
                <div class="move1">
                    <input class="" type="text" /><br>
                    
                </div> 
            </div>&nbsp;&nbsp;
            <div class="subCont2">
                <div  class="move2"><label>Displacement (in MT)</label><span style="color:red;">*</span></div>
                <div>
                    <input class="" type="text" /><br>
                </div>
            </div>
           </div>
           <div class="subCont1">
            <div class="subCont2"> 
                <div  class="name" ><label>Earliest Estimated Time of Arrival in UTC</label> <span style="color:red;">*</span></div>
                <div class="move1">
                    <input class="" type="text" /><br>
                   
                </div> 
            </div>&nbsp;&nbsp;
            <div class="subCont2">
                <div  class="move2"><label>Fuel Density(in g/cc) </label><span style="color:red;">*</span></div>
                <div>
                    <input class="" type="text" /><br>
                
                </div>
            </div>
           </div>
           <div class="subCont1">
            <div class="subCont2"> 
                <div  class="name" ><label>Just in Time Estimated Time of Arrival in UTC </label> <span style="color:red;">*</span></div>
                <div class="move1">
                    <input class="" type="text" /><br>
                    
                </div> 
            </div>&nbsp;&nbsp;
            <div class="subCont2">
                <div  class="move2"><label>Lower Calorific Value(LCV)KJ/Kg </label><span style="color:red;">*</span></div>
                <div>
                    <input class="" type="text" /><br>
                  
                </div>
            </div>
           </div>
           <div><button>Save</button></div>
           <div><button>Cancel</button></div>
        </form>
       


        
             </div>
            </div>
            
