   <app-vessel-header></app-vessel-header>

 <div class="container1">
<div class="row"> 
  <div class="row2">
  <div class="image">
  </div>
  <div *ngFor="let vessel of data">
    <mat-card class="example-card">
      <div class="cardDiv1">
        <div class="cardDiv2"><img src="../../../assets/flag1.png"></div>
        <div class="cardDiv3">
          <div class="title">
            {{vessel.name}}
            <br>
            {{vessel.imo_number}}
          </div>
      <div class="text">
         <mat-icon style="color:rgb(64, 187, 64);font-size: 7px;">brightness_1</mat-icon> &nbsp;
        Online
    </div>
    </div>
  </div>  
  </mat-card>
  </div>
  </div>
  </div>

  <div class="container2">
    
      <div class="heading">
        <h2>VOYAGE</h2>
        <button [routerLink]="['/voyageform/',id]" class="btn">ADD VOYAGE</button></div>
  

<div class="tabelC">
    <ngx-datatable
      style="height: auto"
      class="bootstrap"
      [rows]="rows"
      [columns]="columns"
      fixed-header
      datatable-header
      [headerHeight]="40"
      [footerHeight]="30"
      [limit]="10"
      [columnMode]="'standard'"
      [reorderable]="false">

      <ngx-datatable-column
        name="VOYAGE DATE"
        prop="cosp_time"
        [width]="200"
        [sortable]='true'>
        <!-- <ng-template let-column="column" ngx-datatable-header-template>VOYAGE DATE</ng-template> -->
      </ngx-datatable-column>
      
      <ngx-datatable-column
        name="STARTING PORT"
        prop="startportname"
        [width]="150"
        [sortable]="true">
        <!-- <ng-template let-column="column" ngx-datatable-header-template>STARTING PORT</ng-template> -->
      </ngx-datatable-column>


      <ngx-datatable-column
        name="DESTINATION PORT"
        prop="destinationportname"
        [width]="150"
        [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template>DESTINATION PORT</ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="JUST IN TIME ETA"
        prop="just_eta"
        [width]="200"
        [sortable]="true">
        <!-- <ng-template let-column="column" ngx-datatable-header-template>JUST IN TIME ETA</ng-template> -->
      </ngx-datatable-column>
  
    </ngx-datatable>
  </div>
  </div>
  </div>