 <!-- <div id="slider">
  <div> 
    <div  *ngFor="let vessel of data">
    <mat-card class="example-card" routerLink="/vessel">
      <div class="cardDiv1">
        <div class="cardDiv2">
          <img src="../../../assets/JAPAN.png" />
        </div>
        <div class="cardDiv3">
          <div class="title">
           {{vessel.name}}
            <br />
           {{vessel.imo_number}}
          </div>

          <div class="text">
            <mat-icon style="color: rgb(64, 187, 64); font-size: 7px"
              >brightness_1</mat-icon
            >
            &nbsp; Online
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div *ngFor="let vessel of data;let i=index">
  <a id="prev" onclick=[i]++ >&#8810;</a>
  <a id="next" >&#8811;</a>
</div>
</div>  -->

<!-- 



<div class="grid-container">
  <div  *ngFor="let vessel of data">
    <div class="grid-item">
    <mat-card class="example-card" routerLink="/vessel">
      <div class="cardDiv1">
        <div class="cardDiv2"><img src="../../../assets/{{vessel.countryname}}.png"></div>
        <div class="cardDiv3">
          <div class="title">
            { <div  *ngFor="let vessel of data">
            <br>
            {{vessel.imo_number}}
          </div>
      
      <div class="text">
         <mat-icon style="color:rgb(64, 187, 64);font-size: 7px;">brightness_1</mat-icon> &nbsp;
        Online
    </div>
    </div>
  </div>  
  </mat-card>
</div>
</div>
 </div> -->



<!-- <h2>ji</h2>
<swiper
  [slidesPerView]="1"
  [spaceBetween]="50"
  [navigation]="true"
  [pagination]="{ type: 'fraction' }"
  [centeredSlides]="true"
  [keyboard]="{
    enabled: true
  }"
  [virtual]="true"
  class="my-swiper"
>
  <ng-template *ngFor="let vessel of data">
    <div class="swiper-slide-container"> 
      <mat-card class="example-card" routerLink="/vessel">
        <div class="cardDiv1">
          <div class="cardDiv2"><img src="../../../assets/{{vessel.countryname}}.png"></div>
          <div class="cardDiv3">
            <div class="title">
              {{vessel.name}}
              <br>
              {{vessel.imo_number}}
            </div>
        
        <div class="text">
           <mat-icon style="color:rgb(64, 187, 64);font-size: 7px;">brightness_1</mat-icon> &nbsp;
          Online
      </div>
      </div>
    </div>  
    </mat-card>
    </div> -->
  <!-- </ng-template>
</swiper> --> 


<!-- <h5>search</h5>

<div>
  <input type="text" [(ngModel)]="term"  #searchInput>
  <button class="btn-search " (click)="submitSearch(searchInput.value)" class="search-box"></button>
  <div *ngFor = "let item of name |filter:term" >
    <p>
      {{item.name}}
    </p>
  </div>
</div> 


<h2>slider</h2>
<div>

</div> -->


<!-- <input formControlName="password" class="input" type="password" id="password" placeholder="Password" [type]="hide ? 'password' : 'text'"/>
              <mat-icon (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->


              <!-- myFunction() {
                this.hide = !this.hide;
              }               -->

              <!-- hide : boolean = true; -->