<!-- 
              <div class="container1">
                <div class="container2">
                  <div class="heading">
                    <h2>USER MANAGEMENT</h2>
                    <div style="display:flex;gap:5px">
      
                      </div>
                    </div>
                    </div>




                    <form [formGroup]="myForm" (ngSubmit)="send(myForm)">
                      <mat-expansion-panel [expanded]="(errorPanles.indexOf('personal') > -1)">
                        <mat-expansion-panel-header>
                          <mat-panel-title><b>Personal Details</b></mat-panel-title>
                        </mat-expansion-panel-header>
                        <div formGroupName="personal">
                          <div>
                            <label>First Name :</label>
                            <input type="text" name="fname" formControlName="fname">
                          </div>
                            <span *ngIf="(formSubmitted || myForm.controls['personal'].controls['fname'].touched) && myForm.controls['personal'].controls['fname'].hasError('required')" class="error"> First Name is required
                          </span>
                            <div>
                              <label>Last Name :</label>
                              <input type="text" name="lname" formControlName="lname">
                            </div>
                            </div>
                      </mat-expansion-panel>
                    
                      <mat-expansion-panel [expanded]="(errorPanles.indexOf('work') > -1)">
                        <mat-expansion-panel-header>
                          <mat-panel-title><b>Work Details</b></mat-panel-title>
                        </mat-expansion-panel-header>
                        <div formGroupName="work">
                          <div>
                            <label>Department :</label>
                            <input type="text" name="department" formControlName="department">
                            </div>
                            <span *ngIf="(formSubmitted || myForm.controls['work'].controls['department'].touched)&&myForm.controls['work'].controls['department'].hasError('required')" class="error"> Department is required
                            </span>
                            <div>
                              <label>Designation :</label>
                              <input type="text" name="designation" formControlName="designation">
                            </div>
                              <span *ngIf="(formSubmitted || myForm.controls['work'].controls['designation'].touched) && myForm.controls['work'].controls['designation'].hasError('required')" class="error"> Designation is required
                          </span>
                            </div>
                      </mat-expansion-panel>
                      <button class="btn btn-primary">send</button>
                    </form> -->



<h2>HIGH-CHART TRIAL</h2>
<!-- <div [chart]="chart"></div>
<button (click)="add()">Add Point!</button> -->
