
<div class="editProfileContainer">
    <h2 style="color:rgb(214, 179, 63);margin-left: 44px;margin-top: 10px;">EDIT VESSEL</h2>
     <div class="login">
       
       <form [formGroup]="EditVessel" (ngSubmit)="check()" autocomplete="off">
         <!-- <img style="height:50px;" src="../../assets/MicrosoftTeams-image.png"><br> -->   
           <div class="LabIn">
             <label class="inputLabel">VESSEL NAME</label>
             <input formControlName="name" class="input" type="text" id="name"/>
           </div>&nbsp; 
          
                  
           <div  class="LabIn">
             <label class="inputLabel">IMO NUMBER</label>
              <input formControlName="imo_number" class="input" type="text" id="imo_number" placeholder="IMO NUMBER"/>
              
           </div>&nbsp;

           <div class="LabIn">
            <label class="inputLabel">VESSEL TYPE<span style="color:red;padding-left: 5px;">*</span></label>
            <select  formControlName="vessel_type_id" >
              <option value="">Select  Vessel Type</option>
              <option *ngFor="let vessel of VesselType" value="{{vessel.id}}">{{vessel.name}}</option>
            </select>
          </div>


          <div class="LabIn">
            <label class="inputLabel">FLAG<span style="color:red;padding-left: 5px;" >*</span></label>
            <span  style="padding-left: 55px;"> </span>
            <select id="flags" formControlName="flag_id" >
            <option value="">Select Flag</option>
            <option *ngFor="let flag of Vesselflag" value="{{flag.id}}">{{flag.name}}</option>
            </select>
            
        </div>

           <div class="buttons">
             <button mat-dialog-close class="btn">Cancel</button>
             <button  type="submit" mat-dialog-close  class="btn" >SAVE</button>
           </div>
         
       </form>
   </div>
   </div>
   