<div class="headerContainer1">
   <div class="headerBody1">
            <img class="image" src="../../assets/MicrosoftTeams-image.png">  
            <div class="border">
            <a class="color " routerLinkActive="activeI">
                <div class="logo">
                    <i class="material-icons" routerLink="/adminLand" >travel_explore</i>
                </div>
                <div class="size" routerLink="/adminLand">MY FLEET</div>
            </a></div>
           
            <a class="color" routerLink="/trial" routerLinkActive="activeI">
                <div class="logo">
                    <i class="material-icons" routerLink="/trial" >bar_chart</i>
                </div>
                <div class="size" routerLink="/trial" style="color:rgb(223, 222, 226)">STATISTICS</div>
            </a>
    </div>
        <div class="headerBody2">
            
        <a class="color2">
            <div class="search">
                <div style="display: flex; justify-content: center;gap:10px">
                    <ng-select class="searchClass"   [items]="searchResult" bindLabel="name"  (keyup)="searchVessel($event)" placeholder="Search Vessel"     (change)="navigate($event.id)" > 

                     </ng-select>
                 
                </div>     
            </div> 
      
         
        </a>
    
        <a  class="color ">
            <div class="set">
                    <a mat-button [matMenuTriggerFor]="Settings" [routerLinkActive]="['active']">
                        <div class="">
                            <i class="material-icons">settings</i>
                        </div></a>
                    <mat-menu #Settings="matMenu" xPosition="after">
                      <button mat-menu-item routerLink="/usermgt">Users</button>
                      <button mat-menu-item routerLink="/vessel">Vessels</button>
                    </mat-menu>  
            </div>
        </a>
        <!-- <a href="#" class="color">
            <div>
                <mat-icon>help_outline</mat-icon>
            </div>
        </a>-->
        
        <!-- <a  routerLinkActive="active" href="#" class="color "  routerLink="/adminMessage">
            <div><mat-icon>sms</mat-icon></div>
         </a>  -->

         <!-- <a  routerLinkActive="active"  class="color "    (click)="drawer.toggle()">
            <div><mat-icon>sms</mat-icon></div>
         </a>  -->
<!--           
         <mat-drawer-container class="example-container" >
            <div style="position: fixed;">
                
              </div>
            <mat-drawer #drawer class="example-sidenav" mode="side">
              <div #talkjsContainer class="insideBox">Loading...</div>
            </mat-drawer>
         </mat-drawer-container> -->

          
          
          <!-- <button href="#" class="color" (onClick)="sidenav.toggle();">
            <div>
                <mat-icon>sms</mat-icon>
            </div>
        </button>
          <mat-sidenav-container class="example-container ">
            <mat-sidenav #sidenav>
                <div style="height: 100%;width:150px"></div>
            </mat-sidenav>
          </mat-sidenav-container> -->

          
<!-- <mat-sidenav-container>

    <mat-sidenav #sidenav>
     
    </mat-sidenav>
  
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  
         <a mat-button [matMenuTriggerFor]="menu" class="color ">
            <mat-icon>person</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="EditDialog()">Edit Profile</button>
            <button mat-menu-item (click)="UpdatePassword()">Update Password</button>
            <button mat-menu-item (click)="LogoutDialog()">Log Out</button>
       </mat-menu>&nbsp;
       
       </div>
    
</div>

