<div class="headerContainer1"> 
    <div class="headerBody1">
        <img class="image" src="../../assets/MicrosoftTeams-image.png">
            <a class="color">
                <div class="logo">
                    <i class="material-icons">travel_explore</i>
                </div>
                <div class="size">MY FLEET</div>
            </a>
            <!-- <a class="color" >
                 <div class="logo"> <i class="material-icons">analytics</i></div>
                 <div class="size">SMART ANALYTICS</div>
            </a>
            <a class="color">
                <div class="logo"><i class="material-icons">class</i></div>
                <div class="size">CHARTER PARTY</div>
            </a>
            <a class="color">
                <div class="logo"><i class="material-icons">class</i></div>
                <div class="size">CPQ</div>
            </a>
            <a class="color">
                <div class="logo"><i class="material-icons">precision_manufacturing</i></div>
                <div class="size">HULL PERFORMANCE</div>
            </a>
            <a class="color">
                <div class="logo"><i class="material-icons">share_location</i></div>
                <div class="size">GEOFENCING</div>
            </a>
            <a class="color">
                <div class="logo"><i class="material-icons">psychology_alt</i></div>
                <div class="size">ASSET AI</div>
            </a>
            <a class="color">
                <div class="logo"><i class="material-icons">thermostat</i></div>
                <div class="size">TFDC</div>
            </a>    -->
    </div>
    <div class="headerBody2">
        <a href="#" class="color">
            <div>
                <i class="material-icons">search</i>
            </div>
        </a>
        <a href="#" class="color">
            <div>
                <mat-icon>help_outline</mat-icon>
            </div>
        </a>
        <a href="#" class="color">
            <div><mat-icon>sms</mat-icon></div>
         </a>
         <a mat-button [matMenuTriggerFor]="menu" class="color">
            <mat-icon>person</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="EditDialog(id)">Edit Profile</button>
            <button mat-menu-item (click)="LogoutDialog()">Log Out</button>
       </mat-menu>
    </div>
    
</div>
