
   <app-vessel-header></app-vessel-header>
   <div class="container1">
          <div class="container2">
            <div class="heading">
              <h2>REGISTER VESSEL</h2>
                <button (click)="VesselForm()" class="btn">ADD VESSEL</button>
            </div>
          </div>
        <div class="tabelC">
          <ngx-datatable 
          style="height:auto"
          class="bootstrap"
          [rows]="rows"
          [columns]="columns"
          fixed-header
          datatable-header
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="10"
          [columnMode]="'standard'"
          [reorderable]="true">
          <ngx-datatable-column
            name="IMO NUMBER"
            prop="imo_number"
            [width]="150"
            [sortable]="true">
          </ngx-datatable-column>
            <!-- <ng-template let-column="column" ngx-datatable-header-template>IMO NUMBER</ng-template> -->
        

    <ngx-datatable-column
            name="vesselName"
            prop="name"
            [width]="150"
            [sortable]="true">
            <ng-template let-column="column" ngx-datatable-header-template>VESSEL NAME</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
        name="vesselType"
        prop="vesseltype"
        [width]="150"
        [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template>VESSEL TYPE</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
        name="flag"
        prop="countryname"
        [width]="150"
        [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template>FLAG</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
        name="ACTIONS"
        [minWidth]="150"
        [flexGrow]="3"
        [sortable]="false"
        [resizeable]="false"
        [draggable]="false"
        prop="edit" >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
          <div class="iconsPlace">
            <span (click)="EditVessel(row.id)">
              <mat-icon>edit</mat-icon></span>
          <span md-icon-button placement="left" ngbTooltip="" (click)="DeleteDialog(row.id)">
            <mat-icon class="adjust">delete</mat-icon></span>
           </div>
          
        </ng-template>
      </ngx-datatable-column>

</ngx-datatable>
 </div>
</div>