
  <app-admin-header></app-admin-header>
   <div class="container1">
          <div class="container2">
            <div class="heading">
              <h2>REGISTER VESSEL</h2>
              <div style="display:flex;gap:5px">
                <button (click)="VesselForm()" class="btn">ADD VESSEL</button>
                <button (click)="exportexcel()"  class=" btn2"> <mat-icon>arrow_downward</mat-icon></button>
                </div>
            </div>
          </div>
        <div class="tabelC">
          <ngx-datatable 
          style="height:auto"
          class="bootstrap"
          [rows]="rows"
          [columns]="columns"
          fixed-header
          datatable-header
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="10"
          [columnMode]="'standard'"
          [reorderable]="true">
          <ngx-datatable-column
            name="IMO Number"
            prop="imo_number"
            [width]="200"
            [sortable]="true"
            >
          </ngx-datatable-column>
    
        

    <ngx-datatable-column
            name="vesselName"
            prop="name"
            [width]="200"
            [sortable]="true"
          
            >
            <ng-template let-column="column" ngx-datatable-header-template>Vessel Name</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
        name="vesselType"
        prop="vesseltype"
        [width]="200"
        [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template>Vessel Type</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
        name="flag"
        prop="countryname"
        [width]="200"
        [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template>Flag</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
        name="Actions"
        [minWidth]="150"
        [flexGrow]="3"
        [sortable]="false"
        [resizeable]="false"
        [draggable]="false"
        prop="edit" >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
          <div class="iconsPlace">
            <span (click)="EditVessel(row.id)">
              <mat-icon class="adjust">edit</mat-icon></span>
          <span md-icon-button placement="left" ngbTooltip="" (click)="DeleteDialog(row.id)">
            <mat-icon class="adjust">delete</mat-icon></span>
           </div>
          
        </ng-template>
      </ngx-datatable-column>

</ngx-datatable>
 </div>
</div>