.container1{
    /* background-image: url("../../../assets/map.png"); */
    background-color: rgb(32, 32, 104);
    height:100%;
    width:100%;  
    font-family: Arial, Helvetica, sans-serif;
    /* background-repeat: no-repeat;
    background-size:cover; */
    /* position: absolute; */
    
}

.input{
    display: flex;
}
.container2{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    position: relative;
  
}

.heading{
    color:yellow;
    display: flex;
    justify-content: space-between;
    font-size: larger;
}
.color{
    background-color: rgb(32, 32, 104);
    color:white;
}
.color2{
    background-color: rgb(66, 77, 88); 
    color:white;
}
.colorText{
    color:white
}

.display
{
    display: flex;
    justify-content: space-between;
}

