
<div class="container1">
  <app-vessel-header></app-vessel-header>
    <div class="container2">
        <div class="heading"><h2 style="color:rgb(214, 179, 63)">NEW VOYAGE PLAN</h2>
            <div class="importButton">
                <!-- <button class="btnColor">Import Voyage Plan</button> -->
                </div>
            </div>    
    </div>

    <div class="container2">
          <mat-accordion class="example-headers-align disabled">
            <mat-expansion-panel class="color" *ngFor="let item of [1]; first as isFirst" [expanded]="isFirst" >
              <mat-expansion-panel-header class="color2" >
                <mat-panel-title class="colorText" >
                 VOYAGE DETAILS
                </mat-panel-title>
              </mat-expansion-panel-header>
                
             
              <form [formGroup]="voyageForm">

                <!-- <div>
                    <input type="text" formControlName="vessel_id" value="{{vesselId}}">
                </div> -->
       <div class="display">
        <div>
                <div class="inputLine">
                  <div  class="label"><label >Start Port Name</label><span style="color:red;padding-left: 2px;">*</span></div>
                      <div ><select style="min-width:150px;height: 25px;outline: none;" formControlName="startport_id"  >
                        <option value="">Select Port</option>
                            <option *ngFor="let start of StartPort" value="{{start.id}}">{{start.name}}</option>
                        </select></div>
                  </div>


                  <div class="inputLine">
                       <div  class="label"> <label >COSP Lat</label> <span style="color:red;padding-left: 2px;">*</span></div>
                       <div><input type="text" class="input" formControlName="cosp_lat" style="width:100%">
                       
                       <div class="errors" *ngIf="voyageForm.controls['cosp_lat'].errors?.['required'] && voyageForm.controls['cosp_lat'].touched">This Field is required</div>
                       <div class="errors" *ngIf="voyageForm.controls['cosp_lat'].errors?.['minlength'] && voyageForm.controls['cosp_lat'].touched">Invalid Value</div>
                       <div class="errors" *ngIf="voyageForm.controls['cosp_lat'].errors?.['pattern'] && voyageForm.controls['cosp_lat'].touched">
                        Incorrect value
                       </div> </div>
                     </div>
              
                <div class="inputLine">
                    <div  class="label"> <label >EOSP Lat</label> <span style="color:red;padding-left: 2px;">*</span></div>
                   <div > <input type="text" class="input" formControlName="eosp_lat">
                 
                    <div class="errors" *ngIf="voyageForm.controls['eosp_lat'].errors?.['required'] && voyageForm.controls['eosp_lat'].touched">This Field is required</div>
                    <div class="errors" *ngIf="voyageForm.controls['eosp_lat'].errors?.['minlength'] && voyageForm.controls['eosp_lat'].touched">Invalid Value</div>
                    <div class="errors" *ngIf="voyageForm.controls['eosp_lat'].errors?.['pattern'] && voyageForm.controls['eosp_lat'].touched">
                       Incorrect value
                    </div></div>
                  </div>
               
                </div>
                <div>
                    <div class="inputLine">
                        <div class="label"><label >Destination Port Name</label><span style="color:red; padding-left: 2px;">*</span></div>
                       <div> <select style="min-width:150px;height: 25px;outline: none;"  formControlName="destinationport_id" >
                        <option value="">Select Port</option>
                            <option *ngFor="let end of DestinationPort" value="{{end.id}}">{{end.name}}</option>
                        </select></div>
                  </div>
                  <div class="inputLine">
                    <div class="label">  <label >COSP Lon</label> <span style="color:red;padding-left: 2px;">*</span></div>
                      <div ><input type="text" class="input" formControlName="cosp_long">
                 
                  <div class="errors" *ngIf="voyageForm.controls['cosp_long'].errors?.['required'] && voyageForm.controls['cosp_long'].touched">This Field is required</div>
                  <div class="errors" *ngIf="voyageForm.controls['cosp_long'].errors?.['minlength'] && voyageForm.controls['cosp_long'].touched">Invalid Value</div>
                  <div class="errors" *ngIf="voyageForm.controls['cosp_long'].errors?.['pattern'] && voyageForm.controls['cosp_long'].touched">
                     Incorrect value
                  </div></div>
                </div>

                    <div class="inputLine">
                       <div class="label"> <label>EOSP Lon</label> <span style="color:red;padding-left: 2px;">*</span></div>
                       <div > <input type="text" class="input" formControlName="eosp_long">
                    
                    <div class="errors" *ngIf="voyageForm.controls['eosp_long'].errors?.['required'] && voyageForm.controls['eosp_long'].touched">This Field is required</div>
                    <div class="errors" *ngIf="voyageForm.controls['eosp_long'].errors?.['minlength'] && voyageForm.controls['eosp_long'].touched">Invalid Value</div>
                    <div class="errors" *ngIf="voyageForm.controls['eosp_long'].errors?.['pattern'] && voyageForm.controls['eosp_long'].touched">
                       Incorrect value
                    </div>
                  </div>
                  </div>
            </div>   
            
            </div>
            <div style="display:none"> <input type="reset" id="primaryButton"  /></div>
            </form> 
            </mat-expansion-panel>

            <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   WAYPOINTS
                  </mat-panel-title>      
                </mat-expansion-panel-header>

                <form [formGroup]="voyageForm">
                    <div class="display">
                   <div>     
                 <div class="inputLine">
                        <div class="label"><label>COSP Time</label> <span style="color:red;padding-left: 2px;">*</span></div>
                        <div > <input  class="input" type="datetime-local" formControlName="cosp_time">
                    
                    <div class="errors" *ngIf="voyageForm.controls['cosp_time'].errors?.['required'] && voyageForm.controls['cosp_time'].touched">This Field is required</div>
                  </div>
                  </div>
                    <div class="inputLine">
                       <div class="label"> <label>Earliest ETA</label> <span style="color:red;padding-left: 2px;">*</span></div>
                        <div><input  class="input" type="datetime-local" formControlName="earliest_eta">
                    
                    <div class="errors" *ngIf="voyageForm.controls['earliest_eta'].errors?.['required'] && voyageForm.controls['earliest_eta'].touched">This Field is required</div>
                  </div>
                </div>
                </div>
                <div >   
                <div class="inputLine">
                  <div class="label">  <label>Displacement</label> <span style="color:red;padding-left: 2px;">*</span></div>
                   <div > <input type="text" class="input" formControlName="displacement">
                
                <div class="errors" *ngIf="voyageForm.controls['displacement'].errors?.['required'] && voyageForm.controls['displacement'].touched">This Field is required</div>
                <div class="errors" *ngIf="voyageForm.controls['displacement'].errors?.['pattern'] && voyageForm.controls['displacement'].touched">
                   Please Enter Numeric value
                </div></div>
              </div>

                    <div  class="inputLine">
                        <div class="label"><label>Just ETA</label> <span style="color:red;padding-left: 2px;">*</span></div>
                       <div> <input type="datetime-local"  class="input" formControlName="just_eta">
                   
                    <div class="errors" *ngIf="voyageForm.controls['just_eta'].errors?.['required'] && voyageForm.controls['just_eta'].touched">This Field is required</div>
                    </div>
                  </div>
                  </div>
              
                </div>
               <div style="display:none"> <input type="reset" id="primaryButton"  /></div>
                </form>



            
              </mat-expansion-panel>
              <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   ADDITIONAL VOYAGE CRITERIA
                  </mat-panel-title>      
                </mat-expansion-panel-header>

                <form [formGroup]="voyageForm">
             <div class="display">
                 <div>     
                    <div class="inputLine">
                          <div class="label"><label>Fuel Density</label></div>
                          <div > <input  class="input" type="text" formControlName="fuel_density"> </div>
                  </div>
              </div>

              <div >   
                <div class="inputLine">
                  <div class="label">  <label>Lower Calorific Value</label></div>
                  <div > <input type="text" class="input" formControlName="lower_calorific"></div>
                </div>
             </div>
            
              </div>
             <div style="display:none"> <input type="reset" id="primaryButton"  /></div>
              </form>
              </mat-expansion-panel>
          </mat-accordion>
          
        <div class="buttons">
          <input type="button" class="btn"  id="secondaryButton"  onclick="document.getElementById('primaryButton').click()" value="Clear" />   
          <button class="btn" (click)="navigate()">Cancel</button>
          <button class="btn" (click)="save()">Save</button> 
          
       </div>
    </div >
</div >
