<div class="container1">
    <div class="container2">
        <div class="heading">NEW VOYAGE PLAN
            <div class="importButton">
                <!-- <button class="btnColor">Import Voyage Plan</button> -->
                </div>
            </div>    
    </div>

    <div class="container2">
          <mat-accordion class="example-headers-align disabled">
            <mat-expansion-panel class="color">
              <mat-expansion-panel-header class="color2" >
                <mat-panel-title class="colorText" >
                 VOYAGE DETAILS
                </mat-panel-title>
              </mat-expansion-panel-header>
                
             
              <form [formGroup]="voyageForm">

                <!-- <div>
                    <input type="text" formControlName="vessel_id" value="{{vesselId}}">
                </div> -->
                <div class="display">
                    <div>
                        <label >START PORT NAME</label><span style="color:red;">*</span>
                        <select formControlName="startport_id" >
                            <option *ngFor="let start of StartPort" value="{{start.id}}">{{start.name}}</option>
                        </select>
                    </div>
                    <div>
                        <label >DESTINATION PORT NAME</label><span style="color:red;">*</span>
                        <select formControlName="destinationport_id" >
                            <option *ngFor="let end of DestinationPort" value="{{end.id}}">{{end.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="display">
                    <div>
                        <label>COSP Lat</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="cosp_lat">
                    </div>
                    <div>
                        <label>COSP Lon</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="cosp_long">
                    </div>
                </div>

                <div class="display">
                    <div>
                        <label>EOSP Lat</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="eosp_lat">
                    </div>
                    <div>
                        <label>EOSP Lon</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="eosp_long">
                    </div>
                </div>
<!-- 
                <div class="display">
                    <div>
                        <label>COSP TIME</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="cosp_time">
                    </div>
                    <div>
                        <label>DISPALCEMENT</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="displacement">
                    </div>
                </div>
             
                <div class="display">
                    <div>
                        <label>EARLIEST ETA</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="earliest_eta">
                    </div>
                    <div>
                        <label>JUST ETA</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="just_eta">
                    </div>
                </div>
 -->



            </form> 
            </mat-expansion-panel>

            <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   WAYPOINTS
                  </mat-panel-title>      
                </mat-expansion-panel-header>

                <form [formGroup]="voyageForm">
                <div class="display">
                    <div>
                        <label>COSP TIME</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="cosp_time">
                    </div>
                    <div>
                        <label>DISPALCEMENT</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="displacement">
                    </div>
                </div>
             
                <div class="display">
                    <div>
                    <label>EARLIEST ETA</label> <span style="color:red;">*</span>
                    <input [(ngModel)]="date" [owlDateTime]="fromdatepicker" 
                    placeholder="Date Time" 
                    value="" 
                    class="form-control" 
                    formControlName="earliest_eta">
                    <owl-date-time #fromdatepicker></owl-date-time>
                    <span [owlDateTimeTrigger]="fromdatepicker" class="trigger">icon
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
                    <!-- <div>
                        <label>EARLIEST ETA</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="earliest_eta">
                    </div> -->

                    <div>
                        <label>JUST ETA</label> <span style="color:red;">*</span>
                        <input type="text" formControlName="just_eta">
                    </div>
                </div>
                </form>



            
              </mat-expansion-panel>
              <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   WAYPOINTS
                  </mat-panel-title>      
                </mat-expansion-panel-header>

            
              </mat-expansion-panel>
              
              <!-- <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   WAYPOINTS
                  </mat-panel-title>      
                </mat-expansion-panel-header>


            
              </mat-expansion-panel> -->
          </mat-accordion>
          

          <div><button (click)="save()">Save</button></div>
          <div><button>Cancel</button></div>


    </div >
</div >
<!-- 





<div class="move1">
    <select formControlName="startport_id" >
        <option *ngFor="let start of StartPort" value="{{start.id}}">{{start.name}}</option>
    </select>
</div>  -->