.login{
    
 
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(32, 32, 104); */
    
    min-width: 520px;
   padding-top:10px;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-right: 10px; 
   
   
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid rgb(129, 128, 128);
    
    color:white;
  
  

    
}
.input{
    outline: none;
    border-radius: 3px;
    height: 25px;
    width: 200px;
    height: 25px;
    font-size: 12px;
    border-radius: 3px;
    outline: none;
}
.errors{
    position: fixed;
    font-size: 11px !important;
    display: block;
    padding-left: 5px;
    color: red;
    font-weight: 50%;
    padding-left: 5px;
    height: 11px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-content: center;
    margin-top: 10px;
}
.btn{
    min-width: 120px;
}
input {
    padding: 1px 2px;
    border-width: 2px;
    border-style: none;
    /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
    border-image: initial;
    border-color:none;
  
}