.login{
    
 
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(32, 32, 104); */
    align-items: center;
    height:100%;
    margin:10px; 
   

    
    color:white;
   min-width: 420px;
  

    
}
.input{
    width: 220px;
    height: 18px;
    outline: none;
}
.errors{
    padding-top: 10px;
    padding-left: 5px;
    color: red;
    font-weight: 50%;
    font-size: 15px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-content: center;
    
   
}