<form  [formGroup]="forgotPassword">
    <div>
        <span class="title-center">Forgot Password</span>
        <br>
        <input formControlName="email" class="input" type="email" id="email" placeholder="Email"/>
 </div>

 <div mat-dialog-actions class="display">
  <button   mat-dialog-close mat-button >NO,cancel</button>
  <button  mat-button mat-dialog-close  routerLink="/" (click)="submit() ">Send Password</button>
   
</div>


 <!-- <div class="move"> -->
  <!-- <button   mat-dialog-close mat-button >NO,cancel</button> -->
  <!-- <button  type="submit" [disabled]="forgotPassword.invalid" class=" btn" ></button></div> -->
    
</form>
