<div class="login"> 
  <form  [formGroup]="forgotPassword">
    <div >
       <div class="title-center"><h2 style="color:rgb(214, 179, 63)">Forgot Password</h2></div>
        <input formControlName="email"  class="input" type="email" id="email" placeholder="Email"/>
 </div>
 <div style="padding-top:  5px;"><hr></div>
 

 <div  class="buttons">
  <button  mat-dialog-close class="btn" >NO,cancel</button>
  <button  mat-dialog-close  routerLink="/" (click)="submit() " class="btn">Send Password</button>  
</div>
</form>
</div>
