<div class="container">
  <div class="heading"><h3>VESSEL REGISTRATION</h3></div>
  <div class="card">
    <form [formGroup]="VesselForm">

<div class="flex">
        <div class="display">
          <label>IMO Number<span style="color:red;">*</span></label>
          <input type="text" formControlName="imo_number" />
          <div class="errors" *ngIf="VesselForm.controls['imo_number'].errors?.required && VesselForm.controls.imo_number.touched"></div>
        </div>
        
      <div>
        <label>Vessel name<span style="color:red;">*</span></label>
        <input type="text" formControlName="name" />
        <div class="errors" *ngIf="VesselForm.controls['name'].errors?.required && VesselForm.controls.name.touched"></div>
      </div>  

</div>

<div class="flex">
        <div>
          <label>Vessel Type<span style="color:red;">*</span></label>
          <select  formControlName="vessel_type_id" >
            <option *ngFor="let vessel of VesselType" value="{{vessel.id}}">{{vessel.name}}</option>
          </select>
        </div>
        <div class="errors" *ngIf="VesselForm.controls['vessel_type_id'].errors?.required && VesselForm.controls.vessel_type_id.touched" style="color:red;">required</div>
        
        <div class="flag">
          <label>Flag<span style="color:red;">*</span></label>
          <select id="flags" formControlName="flag_id">
          <option value="">Select Flag</option>
          <option *ngFor="let flag of Vesselflag" value="{{flag.id}}">{{flag.name}}</option>
          </select>
          
      </div>
      <div class="errors" *ngIf="VesselForm.controls['flag_id'].errors?.required && VesselForm.controls.flag_id.touched" style="color:red;">required</div>
 </div>
 <div mat-dialog-actions class="move">
  <button   mat-dialog-close mat-button >NO,cancel</button>
  <div>
    <button  mat-button mat-dialog-close  (click)="Submit()">SAVE</button>
    </div>
</div>
</form>

  </div>
</div>
<!-- <mat-form-field appearance="fill">
  <mat-label>Message</mat-label>
  <input matInput value="Successfully Saved" #message>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Action</mat-label>
  <input matInput value="ok" #action>
</mat-form-field> -->

<!-- <button mat-stroked-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button> -->