
.container
{
    /* background-color: blue; */
    color:white;
    min-width: 620px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(129, 128, 128);

    /* #969696 */
}
h3
{
    color: rgb(190, 190, 29);
    margin-top: 4px;
   
    
}
.card
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
   
    
}
input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    border-width: none;
   
}

/* .flex
{
    display: block;
    
} */
.flag
{
    margin-right:100px;
}
label
{
    margin-right: 20px;
    margin-bottom: 50px;
}
input.ng-invalid.ng-touched {
    border-bottom:  red 1px solid;
}
option
{
    text-transform: uppercase;
}
.buttons{
    display: flex;
    gap:5px;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 10px;
}
.display{
    margin-bottom: 50px;

}

