
.container
{
    /* background-color: blue; */
    color:white;
    min-width: 620px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(129, 128, 128);

    /* #969696 */
}
h3
{
    color: rgb(214, 179, 63);
    margin-top: 4px;
   
    
}
.card
{
    /* height: 100%;
    width: 100%; */
    display: flex;
    justify-content: space-between;
    gap: 20px;  
}


/* .flex
{
    display: block;
    
} */
.flag
{
    margin-right:100px;
}
label
{
    margin-right: 20px;
    margin-bottom: 50px;
}
input.ng-invalid.ng-touched {
    border-bottom:  red 1px solid;
}
option
{
    text-transform: uppercase;
}
.buttons{
    display: flex;
    gap:5px;
    justify-content: flex-end;
    
    margin-bottom: 10px;
}
.display{
    margin-bottom: 50px;

}
.errors{
    position: fixed;
    font-size: 11px !important;
    display: block;
    padding-left: 5px;
    color: red;
    font-weight: 50%;
    padding-left: 5px;
    height: 11px; 
}
.label{
    display: flex;
    /* border:1px solid white; */
    align-items: center;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    /* color:rgb(182, 178, 178); */
    width: 100px;
    padding-left: 5px;;
}
.inputLine{
    display: flex;
    gap:10px;
    height: 60px;
}
.input{
    width:150px;
    height: 25px;
    font-size: 12px;
    border-radius: 3px;
    outline: none;
}
input {
    padding: 1px 2px;
    border-width: 2px;
    border-style: none;
    /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
    border-image: initial;
    border-color:none;
  
}
.select{
    height: 20px;
    width: 100%;
}
.btn{
    width:80px;
}
.btnC{
    width:80px;
}