<app-admin-header></app-admin-header>
<div class="container">
            <div class="row">
              <!-- <div class="row2"> -->
              
                  <img  class="image" src="../../../assets/synergy-logo.png" alt="">
              
      <owl-carousel-o [options]="customOptions" >
      <ng-container *ngFor="let vessel of data;let i index">
        <ng-template carouselSlide>
          <mat-card  class="example-card" [routerLink]="['/voyagetable/',vessel.id]">
            <div class="cardDiv1">
              <div class="cardDiv2"><img class="flagImage" src="../../../assets/{{vessel.countryname}}.jpg"></div>
              <div class="cardDiv3">
                <div class="title">
                  {{vessel.name}}
                  <br>
                  {{vessel.imo_number}}
                </div>
                <div class="text">
                  <mat-icon style="color:rgb(64, 187, 64);font-size: 7px;">brightness_1</mat-icon> &nbsp;
                  Online
                </div>
               
              </div>
            
            </div>
            <div class="belowText">
              <div style="min-width:51px;"></div>
              <div style="display:flex;width:100%;justify-content:space-between" >
                <div>{{vessel.startportname}}</div>
                <div>{{vessel.destinationportname}}</div>
              </div>
            </div>
            <div style="display:flex;color:whitesmoke;font-size:11px">
              <div style="min-width:49px;"></div>
  
              <div><img style="width:100%; height: 100%;" src="../../../assets/arrow.JPG"></div>
            </div>
      </mat-card>
      </ng-template>
    </ng-container>
    </owl-carousel-o>
   </div>
<!-- 
  
 -->
</div>


