<div class="VesselMapcontainer">
  <h3 mat-dialog-title>CHOOSE THE VESSELS</h3>
<form [formGroup]="VesselMappingForm">
  <label>{{ id }}</label>

  <ng-multiselect-dropdown
    [settings]="dropdownSettings"
    placeholder="Select vessels"
    [data]="dropdownList"
    [(ngModel)]="selectedItems"
    formControlName="vessel_name"
    (onSelect)="onItemSelect($event)"
    (onDeSelect)="delete($event)">
  </ng-multiselect-dropdown>
  <!-- <ul *ngFor="let names of list">
  <li>{{names.vessel_name}}</li>
</ul> -->
  <span
    class="error-message"
    *ngIf="
      VesselMappingForm.controls['vessel_name'].errors?.required &&
      VesselMappingForm.controls['vessel_name'].touched">
    vessel name is required
  </span>

  <!-- <ul *ngFor="let data of dropdownList">
        <input type="checkbox" value="{{data.name}}">
    </ul>  -->
</form>
<div class="buttons">
  <button  mat-dialog-close class="btn">Cancel</button>
  <button  (click)="Save()" class="btn">Save</button>
</div>
</div>
