h3{
text-align: center;
}
.mat-dialog-actions
{
    display: flex;
    justify-content:space-between;

}
.error-message {
  position: absolute;
    color: #f00;
    font-size: 11px;
    transform: translateY(-4px);
    display: inline-block;
  }
  .VesselMapcontainer{
    color:white; 
  }
  .buttons{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    gap: 5px;
    padding-right: 10px;
  }