 <div class="login">
    <form [formGroup]="LoginForm" (ngSubmit)="submit()" autocomplete="on">
      <img src="../../assets/MicrosoftTeams-image.png"><br>
         <div  >
      <div class="input">
       <input style="outline:none" formControlName="username" type="text " id="username" placeholder="USERNAME"/>
       <input style="outline:none" formControlName="password"  type="password" id="password" placeholder="PASSWORD"/>
       <!-- <span class="eye">
         <i class="fa fa-eye" aria-hidden="true"></i>
       </span> -->
       <button type="submit" class="Loginbtn" >LOGIN</button>
       </div>
       <hr >
       <div class="version">
       <div >VERSION 1.0.0.1</div>
       <div style="color:red;font-size: 10px;">{{msg}}</div>
       <a  class="" (click)="PasswordDialog()" >FORGOT PASSWORD?</a>
      </div>
   </div>
      
    </form>
</div>
