<div class="editProfileContainer">
 <h2 style="color:rgb(214, 179, 63);margin-left: 44px;margin-top: 10px;">EDIT PROFILE</h2>
  <div class="login">
    
    <form [formGroup]="Editprofile" (ngSubmit)="check()" autocomplete="off">
      <!-- <img style="height:50px;" src="../../assets/MicrosoftTeams-image.png"><br> -->   
        <div class="inputLine">
          <label class="inputLabel">Username</label>
          <input appFirstCap formControlName="username"  [readonly]="isreadOnly" class="input" type="text" id="username"/>
        </div>
               
        <div  class="inputLine">
          <label class="inputLabel">First Name</label>
          <div>
           <input  appFirstCap formControlName="first_name" class="input" type="text" id="first_name" placeholder="First Name"/>
          <div class="errors" *ngIf="Editprofile.controls['first_name'].errors?.['required'] && Editprofile.controls['first_name'].touched">
            First name is required
            </div> 
          </div>
        </div>
        <div  class="inputLine">
          <label class="inputLabel">Last Name</label>
        <div>
          <input  appFirstCap formControlName="last_name" class="input" type="text" id="last_name" placeholder="Last Name"/>
            <div class="errors" *ngIf="Editprofile.controls['last_name'].errors?.['required'] && Editprofile.controls['last_name'].touched">
              Last name is required
              </div> 
          </div>

        </div>
        <div  class="inputLine"> 
          <label class="inputLabel">Email</label>
          <div>
            <input formControlName="email" class="input" type="email" id="email" placeholder="Email" (keyup)="CheckEmail()"/>
              <div class="errors" *ngIf="Editprofile.controls['email'].errors?.['required'] && Editprofile.controls['email'].touched">
              Email is required
              </div>
              <div class="errors" *ngIf="Editprofile.controls['email'].errors?.['email'] && Editprofile.controls['email'].touched">Enter valid email</div>
              <div *ngIf="status==false" class="errors" >{{EmailCheckmsg}}</div>
          </div>
        </div>
        
        <div class="inputLine">
          <label class="inputLabel">Contact</label>
          <div>
          <input formControlName="contact_number" class="input" type="number" id="contact_number" placeholder="Contact Number"/>
           <div class="errors" *ngIf="Editprofile.controls['contact_number'].errors?.['required'] && Editprofile.controls['contact_number'].touched">
            Phone number is required
            </div>
            <div class="errors" *ngIf="Editprofile.controls['contact_number'].errors?.['minlength'] && Editprofile.controls['contact_number'].errors?.['maxlength']">Phone number should have minimum length</div>
            <div class="errors" *ngIf="Editprofile.controls['contact_number'].errors?.['pattern'] && Editprofile.controls['contact_number'].touched">
              Please enter numbers
              </div>
            </div>
        </div>
         
        <div class="buttons">
          <button mat-dialog-close class="btnC">Cancel</button>
          <button  type="submit" mat-dialog-close  class="btn" >SAVE</button>
        </div>
      
    </form>
</div>
</div>
