.logoutContatiner{
    
    font-family:sans-serif;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;

   
}
.parent{
  background-color:#000d20;
  min-width: 520px;
  /* filter: contrast(1.2); */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid rgb(129, 128, 128);
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-content: center;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-top: 15px;
}
