<div class="container1">
    <div class="container2">
        <div class="heading">NEW VOYAGE PLAN
            <div class="importButton">
                <!-- <button class="btnColor">Import Voyage Plan</button> -->
                </div>
            </div>
       
    </div>

    <div class="container2">
          <mat-accordion class="example-headers-align disabled" multi routerLink="inactive">
            <mat-expansion-panel class="color">
              <mat-expansion-panel-header class="color2" >
                <mat-panel-title class="colorText" >
                 VOYAGE DETAILS
                </mat-panel-title>
              </mat-expansion-panel-header>
                
              
              <div class="container1">
                <div class="container2">
                    <form>
                        <div class="subCont1">
                        <div class="subCont2"> 
                            <div  class="name" ><label>Start Port Name</label> <span style="color:red;">*</span></div>
                            <div class="move1">
                                <input class="" type="text" /><br>
                                <input type="checkbox" placeholder="At Sea" />At Sea
                            </div> 
                        </div>&nbsp;&nbsp;
                        <div class="subCont2">
                            <div  class="move2"><label>Destination Port Name </label><span style="color:red;">*</span></div>
                            <div>
                                <input class="" type="text" /><br>
                                <input type="checkbox" placeholder="At Sea" />At Sea
                            </div>
                        </div>
                       </div>
                       <div class="subCont1">
                        <div class="subCont2"> 
                            <div  class="name" ><label>COSP Lat</label> <span style="color:red;">*</span></div>
                            <div class="move1">
                                <input class="" type="text" /><br>
                                
                            </div> 
                        </div>&nbsp;&nbsp;
                        <div class="subCont2">
                            <div  class="move2"><label>EOSP Lat </label><span style="color:red;">*</span></div>
                            <div>
                                <input class="" type="text" /><br>
                                
                            </div>
                        </div>
                       </div>
                       <div class="subCont1">
                        <div class="subCont2"> 
                            <div  class="name" ><label>COSP Long</label> <span style="color:red;">*</span></div>
                            <div class="move1">
                                <input class="" type="text" /><br>
                            </div> 
                        </div>&nbsp;&nbsp;
                        <div class="subCont2">
                            <div  class="move2"><label>EOSP Long</label><span style="color:red;">*</span></div>
                            <div>
                                <input class="" type="text" /><br>
                                
                            </div>
                        </div>
                       </div>
                       <div class="subCont1">
                        <div class="subCont2"> 
                            <div  class="name" ><label>COSP TIME in UTC</label> <span style="color:red;">*</span></div>
                            <div class="move1">
                                <input class="" type="text" /><br>
                                
                            </div> 
                        </div>&nbsp;&nbsp;
                        <!-- <div class="subCont2">
                            <div  class="move2"><label>Displacement (in MT)</label><span style="color:red;">*</span></div>
                            <div>
                                <input class="" type="text" /><br>
                            </div>
                        </div> -->
                       </div>
                       <div class="subCont1">
                        <div class="subCont2"> 
                            <div  class="name" ><label>Earliest Estimated Time of Arrival in UTC</label> <span style="color:red;">*</span></div>
                            <div class="move1">
                                <input class="" type="text" /><br>
                               
                            </div> 
                        </div>&nbsp;&nbsp;
                        <!-- <div class="subCont2">
                            <div  class="move2"><label>Fuel Density(in g/cc) </label><span style="color:red;">*</span></div>
                            <div>
                                <input class="" type="text" /><br>
                            
                            </div>
                        </div> -->
                       </div>
                       <div class="subCont1">
                        <div class="subCont2"> 
                            <div  class="name" ><label>Just in Time Estimated Time of Arrival in UTC </label> <span style="color:red;">*</span></div>
                            <div class="move1">
                                <input class="" type="text" /><br>
                                
                            </div> 
                        </div>&nbsp;&nbsp;
                        <!-- <div class="subCont2">
                            <div  class="move2"><label>Lower Calorific Value(LCV)KJ/Kg </label><span style="color:red;">*</span></div>
                            <div>
                                <input class="" type="text" /><br>
                              
                            </div> -->
                        <!-- </div> -->
                       </div>
                       <!-- <div><button>Save</button></div>
                       <div><button>Cancel</button></div> -->
                    </form>
                   
            
            
                    
                         </div>
                        </div>
                        
            







             
            </mat-expansion-panel>

            <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   WAYPOINTS
                  </mat-panel-title>      
                </mat-expansion-panel-header>


            
              </mat-expansion-panel>
              <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   WAYPOINTS
                  </mat-panel-title>      
                </mat-expansion-panel-header>


            
              </mat-expansion-panel>
              <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   WAYPOINTS
                  </mat-panel-title>      
                </mat-expansion-panel-header>


            
              </mat-expansion-panel>
          </mat-accordion>
          

          <div><button>Save</button></div>
          <div><button>Cancel</button></div>


    </div >
</div >
