<div class="editProfileContainer">
    <h2 style="color:rgb(214, 179, 63);margin-left: 44px;margin-top: 10px;">UPDATE PASSWORD</h2>
     <div class="login">
       
       <form [formGroup]="UpdatePassword" (ngSubmit)="update()" autocomplete="off">
         <!-- <img style="height:50px;" src="../../assets/MicrosoftTeams-image.png"><br> -->   
         <div class="LabIn">
            <label class="inputLabel">Email</label>
            <input  formControlName="email"  class="input" type="text"  id="email"/>
          </div>&nbsp; 
           <div class="LabIn">
             <label class="inputLabel">New Password</label>
             <input  formControlName="password"  class="input" type="text"  id="password"/>
           </div>&nbsp; 
                  
           <div class="LabIn">
            <label class="inputLabel">ConfirmPassword</label>
            <input  formControlName="password2"  class="input" type="text" id="password2"/>
            {{msg}}
          </div>&nbsp; 
            
           <div class="buttons">
             <button class="btnC">Cancel</button>
             <button  type="submit" class="btn" >SAVE</button>
           </div>
         
       </form>
   </div>
   </div>
   
