<div class="sideend">
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>
      </div> 
<mat-drawer-container class="" >
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
      <div  #talkjsContainer style="height: 500px;">
        Loading...</div>
        
    </mat-drawer>
  </mat-drawer-container>
</div>
  <!-- removed autosize from mat drawer -->