.example-container {
    width: 500px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  } */
  
  .example-sidenav-content {
   
   position: fixed;
    height: 100%;
  
  }
  
  .example-sidenav {
    
    padding: 20px;
    width:550px;
  }
  .sideend{
    display: flex;
    justify-content: end;
    height: 100%;
  }
  .Inbox>{
    height: 95%!important;
  }
.hub-underlay{
    width: 100%;
    height: 90% !important;
}
.mat-drawer.mat-drawer-side {
    z-index: 2;
    overflow: hidden;
}

