.headerContainer1{
    display: flex;
    /* backdrop-filter: blur(50px) saturate(120%) contrast(200%); */
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 10px;
    cursor: pointer;
    filter: contrast(1.2);
    background-color: rgb(29, 29, 90);
}
.headerBody1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    padding-left: 10px; 
    min-height: 50px;
}
.headerBody2{
   
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    
    /* font-weight: 900;
    font-size: larger; */
}

.color{
    color:aliceblue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.color:hover{
    /* text-shadow: 0 0 3px #7e7b7b, 0 0 25px #c0c0c5; */
    text-shadow: 0 -3px 3px #a0b8b8, 0 0 25px #dbdbe4;
}
.logo{
    display: flex;
    text-align: center;
    justify-content: center;
}
.size{
    font-size: 9px;
}
.image{
    display: flex;
    max-height: 30px;
    align-items: center;  
}
/* .space{
    padding-left: 10px;
} */
.mat-button {
    max-width: 10px;
    line-height: 22px;
    padding:0px;
    min-width: 0px;
}