<div class="headerContainer1">
    <div class="headerBody1">
        <img class="image" src="../../assets/MicrosoftTeams-image.png">&nbsp;&nbsp;&nbsp;
            <a class="color">
                <div class="logo">
                    <i class="material-icons" routerLink="/adminLand">travel_explore</i>
                </div>
                <div class="size" routerLink="/adminLand">MY FLEET</div>
            </a>
            <a class="color" >
                 <div class="logo"> <i class="material-icons" routerLink="/voyageplan">analytics</i></div>
                 <div class="size" routerLink="/voyageplan">VOYAGE</div>
            </a>   
            <a class="color">
                <div class="logo"><i class="material-icons" routerLink="/AssetList">psychology_alt</i></div>
                <div class="size" routerLink="/AssetList">ASSET </div>
            </a>
              
    </div>
    <div class="headerBody2">
        <a href="#" class="color ">
            <div>
                <i class="material-icons">search</i>
            </div>
        </a>
        <a href="#" class="color ">
            <div>
                <mat-icon>help_outline</mat-icon>
            </div>
        </a>
        <a  routerLinkActive="active" href="#" class="color">
            <div><mat-icon>sms</mat-icon></div>
         </a>
         <a mat-button [matMenuTriggerFor]="menu" class="color">
           <div class="icon"> <mat-icon>person</mat-icon></div>
        </a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="EditDialog()">Edit Profile</button>
            <button mat-menu-item (click)="LogoutDialog()">Log Out</button>
       </mat-menu>&nbsp;&nbsp;&nbsp;
       </div>
    
</div>


